<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.kakaruto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".TestTabActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity" android:label="MainActivity" />
        <activity android:name=".WriteActivity" android:label="WriteActivity" />
        <activity android:name=".ModifyActivity" android:label="ModifyActivity" />
        <activity android:name=".FavorityActivity" android:label="FavorityActivity" />
        <activity android:name=".ConfActivity" android:label="ConfActivity" />
    </application>

</manifest>